{% extends 'store/base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form">
                <div id="user-info">
                    <div class="form-field">
                        <input required class="form control" name="name" type="text" placeholder="Name..">

                    </div>
                    <div class="form-field">
                        <input required class="form control" name="name" type="text" placeholder="Email..">
                    </div>

                </div>
                <div id="shipping-info">
                    <hr>
                    <p>Shipping Information</p>
                    <hr>
                    <div class="form-field">
                        <input class="form control" name="address" type="text" placeholder="Address..">
                    </div>
                    <div class="form-field">
                        <input class="form control" name="city" type="text" placeholder="City..">
                    </div>
                    <div class="form-field">
                        <input class="form control" name="state" type="text" placeholder="State..">
                    </div>
                    <div class="form-field">
                        <input class="form control" name="zipcode" type="text" placeholder="Zip Code..">
                    </div>
                    <div class="form-field">
                        <input class="form control" name="country" type="text" placeholder="Country..">
                    </div>

                </div>

                <hr>
                <input id="form button" class="btn btn-sucess btn-block" type="submit" value="continue">
            </form>

        </div>

        <br>
			<div class="box-element hidden" id="payment-info">
				<small>Peypal</small>
			</div>
    </div>
    <div class="col-lg-6">
        <div class="box-element">
            
        </div>

    </div>
</div>

{% endblock content %}